<div id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark text-white border-bottom shadow">
    <h5 class="my-0 mr-4"><a href="#" class="text-white">angular-prime-ng</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </nav>
</div>
<div class="container">
    <div class="content pt-5 pb-1 mx-auto">
        <router-outlet></router-outlet>
    </div>
    <footer class="mt-4 pt-3 border-top">
        <div class="row">
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><a class="text-muted" routerLink="home">Home</a></li>
                </ul>
            </div>
            <div class="col-6 col-md"></div>
            <div class="col-12 col-md">
                <p class="text-muted">sebastiangolian@gmail.com 2019</p>
            </div>
        </div>
    </footer>
</div>