/* MASTER */
html {font-size: 12px;}
.container {max-width: 80%;}
.container .content {min-height: 600px; height:auto !important; height: 600px; }
footer{font-size:0.75em;}

/* TAG */
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1em;}

/* CLASS */
.hand{cursor: pointer;}
.btn{margin-right:5px;}

@media (min-width: 768px) {
    html {font-size: 14px;}
}